*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  overflow-x: hidden; }

.background__section-heading {
  font-size: 2rem;
  font-weight: 400; }

.media-body p, .media-body a {
  font-size: 1.4rem;
  font-weight: 400; }

.u-border {
  border: 1px solid rgba(0, 0, 0, 0.2); }

.u-border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.profile-icon {
  color: #0073b1;
  font-size: 1.5rem;
  border-radius: 50%; }
  .profile-icon:hover {
    background-color: rgba(152, 216, 244, 0.25); }
  .profile-icon--hide {
    display: none; }

.background__hide-icon:hover .profile-icon {
  display: inline-block; }

.background__img {
  width: 45px;
  height: 45px;
  margin: auto; }
