@model PostViewModel

@{
    ViewBag.Title = "NewsFeed";
}


<div class=" container row mt-5 mx-auto">
    <div class="col-md-4 col-lg-4 col-sm-4">
        <div class="profile mx-auto">
            <div class="profile--Image"></div>
            <div class="profile--info ">
                <div class="profile--text ">
                    <a href="#"><div class="profile--text__h2">Amr Mansour</div></a>
                    <div class="profile--text__h3">Software Developer -.net</div>
                </div>
            </div>
            <div class="profile--info">
                <div class=" profile--text">
                    <div class="profile--numtext">
                        <a class="profile--text__P" href="#">Who's viewed your profile</a>
                        <a class="profile--text__num"> 36</a>
                    </div>
                    <div class="profile--numtext">
                        <div class="profile--doubletext">
                            <a class="profile--text__P" href="#">Connections</a>
                            <div class="profile--text--blacktext">Grow your netwrok</div>
                        </div>
                        <a class="profile--text__num"> 419</a>
                    </div>
                    <div class="profile--premium">
                        <a class="profile--text__P" href="#">Access exclusive tools & insights</a>
                        <div class="profile--text--blacktext"><i class="far fa-star icon icon--premium"></i>Reactive Premium for free</div>
                    </div>
                </div>
            </div>
            <div class="profile--info profile--saved">
                <a class="profile--text--blacktext">
                    <i class="far fa-bookmark icon"></i> Saved items
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6">
        <div class="create-post ">
            <div class="writePost">
                <button class="button button-post button-border" data-toggle="modal" data-target="#post" id="startPost">
                    <i class="far fa-edit post-icon"></i>
                    <span>Start a post</span>
                </button>
                <button class="button button-icons button-border">
                    <label class="mypost-label" data-toggle="modal" data-target="#picture">
                        <i class="fas fa-camera"></i>
                        <input type="file" multiple />
                    </label>
                </button>
                <button class="button button-icons button-border">
                    <label class="mypost-label" data-toggle="modal" data-target="#video">
                        <i class="fas fa-video"></i>
                        <input type="file" multiple />
                    </label>
                </button>
                <button class="button button-icons">
                    <label class="mypost-label" data-toggle="modal" data-target="#document">
                        <i class="far fa-file-alt"></i>
                        <input type="file" multiple />
                    </label>
                </button>
            </div>
            <div class="article">
                <a href="#">Write an article </a>on LinkedIn
            </div>


            @Html.Partial("_Create", Model)




            <div class="modal fade" id="picture" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable" role="document">
                    <div class="modal-content">

                        <div class="modal-body">
                            <div class="postattach">
                                <div class="postattach--header">
                                    <div class="postattach--back" data-dismiss="modal" aria-label="Close">
                                        <i class="fas fa-arrow-left"></i>
                                    </div>
                                    <h2 class="postattach__Title">Edit your photo</h2>
                                </div>
                                <div class="postattach--select" id="edit-post-photo-container">

                                </div>
                                <div class="postattach--footer">
                                    <button class="postattach--footer--btn postattach--footer--nextenabled" " data-target="#post" id="next-button" data-dismiss="modal">Next</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="video" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable" role="document">
                    <div class="modal-content">

                        <div class="modal-body">
                            <div class="postattach">
                                <div class="postattach--header">
                                    <div class="postattach--back" data-dismiss="modal" aria-label="Close">
                                        <i class="fas fa-arrow-left"></i>
                                    </div>
                                    <h2 class="postattach__Title">Select/Edit your video</h2>
                                </div>
                                <div class="postattach--select">
                                    <button class="postattach--select--content">
                                        <label class="mypost-label">
                                            <input type="file" multiple />
                                            Select video to share
                                        </label>
                                    </button>
                                </div>
                                <div class="postattach--footer">
                                    <button class="postattach--footer--btn postattach--footer--nextenabled" data-dismiss="modal" aria-label="Close">Next</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="document" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable" role="document">
                    <div class="modal-content">

                        <div class="modal-body">
                            <div class="postattach">
                                <div class="postattach--header">
                                    <div class="postattach--back" data-dismiss="modal" aria-label="Close">
                                        <i class="fas fa-arrow-left"></i>
                                    </div>
                                    <h2 class="postattach__Title">Share a document</h2>
                                </div>
                                <div class="postattach--select">
                                    <!-- <button class = "postattach--select--content">Select video to share</button> -->
                                    <div class="postattach--select_file">
                                        <label class="mypost-footer_publish-btn chooseFile">
                                            <input type="file" multiple />
                                            Choose File
                                        </label>
                                    </div>
                                </div>
                                <div class="postattach--footer">
                                    <button class="postattach--footer--btn postattach--footer--nextenabled">Next</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @* Like Modal *@
            <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title mt-1 font-weight-bolder">All (150)</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span style="color: black;" aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-borderless">

                                <tbody>
                                    <tr>

                                        <td>
                                            <div class="card-header post-header">
                                                <img class="post-profile-img" src="unnamed.jpg">
                                                <div class="post-header-creator-info mt-2 ">
                                                    <h6>john wick</h6>
                                                    <small class="text-muted">software engineer</small>
                                                    <small class="text-muted">Last updated 3 mins ago</small>
                                                </div>
                                            </div>
                                        </td>
                                        <td><i class="far fa-thumbs-up mt-4 fa-2x"></i></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="card-header post-header">
                                                <img class="post-profile-img" src="unnamed.jpg">
                                                <div class="post-header-creator-info mt-2">
                                                    <h6>john wick</h6>
                                                    <small class="text-muted">software engineer</small>
                                                    <small class="text-muted">Last updated 3 mins ago</small>
                                                </div>
                                            </div>
                                        </td>
                                        <td><i class="far fa-thumbs-up mt-4 fa-2x"></i></td>


                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>


           @Html.Partial("_PostLayout")
        </div>
    </div>
</div>
<div class="col-md-2 col-lg-2 col-sm-2"> </div>
@section NewsFeedScript{
    <script src="~/Content/JS/NewsFeedScript.js"></script>
}
