$font-family:-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
$primary-font-color: #1A1A1A;

$secondary-font-color:#C8C8C8;
$third-font-color: #767676;
$primary-section-bgcolor:#FFFFFF;
$secondary-bg-color:#F3F6F8;